.fill-remaining-space {
  flex: 1 1 auto;
}

.example-container{
  height: 90vh;
  width: auto;
}

.tab-title {

}

.icon {
  width: 20px;
  height: 20px;
  align-self: center;
  margin-top: auto;
  margin-bottom: 3rem;
}

.md-icon-button {
  margin: 0 0.6rem;
   height: 4.8rem;
   min-width: 0;
   line-height: 4.8rem;
   padding-left: 0;
   padding-right: 0;
   width: 4.8rem;
}

h1 {
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 150%;
}
h2, h3 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
}
.md-tab-group.md-tab {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 150%;
}

.example-form {
  width: 500px;
}

.example-full-width {
  width: 100%;
}
@media (max-width: 600px) {
  .example-container {
    min-height: 75px;
    width: auto;
    border: 1px solid rgba(0, 0, 0, 0.5);
    font-size: 10px;
  }
}
@media (max-width: 1024px) {
  .grid {
    margin: 0;
  }
  .sidenav-container {
    min-height: 150px;
    width: auto;
    border: 1px solid rgba(0, 0, 0, 0.5);
    min-width: 60px;
  }
}

.example-sidenav-content {
  display: flex;
  height: 100%;
  align-items: left;
  justify-content: left;
}

.sidenav-form {
  padding: 50px;
}
